.grey-square {
    -fx-background-color: rgb(192, 192, 192);
}

.white-square {
    -fx-background-color: #FFF;
}

.selected {
    -fx-background-color: #84a0c5;
}

.path {
    /* -fx-accent: #0093ff;*/
    /* -fx-focus-color: #0093ff; */
    -fx-border-color: #0093ff;
    -fx-border-width: 1.5px;
}

.default-border {
    -fx-border-width: 1.5px;
    -fx-border-color: black;
}