.grey-square {
    -fx-background-color: rgb(192, 192, 192);
}

.white-square {
    -fx-background-color: #FFF;
}

.selected {
    /* -fx-background-color: #84a0c5; */
    -fx-background-color: red;
}

.path {
    /* -fx-accent: #0093ff;*/
    /* -fx-focus-color: #0093ff; */
    -fx-border-color: red;
    -fx-border-width: 1.5px;
}

.default-border {
    -fx-border-width: 1.5px;
    -fx-border-color: rgb(100, 93, 93);
}

.board-boarder {
    -fx-border-width: 3px;
    -fx-border-color: rgb(0, 17, 255);
}